.header {
  margin: 30px auto 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1184px;
}

@media screen and (max-width: 1279px) {
  .header {
    margin: 30px 50px 50px;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    margin: 30px 25px 50px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    margin: 20px 20px 50px;
  }
}

@media screen and (max-width: 424px) {
  .header {
    margin: 15px 15px 50px;
  }
}
