.footer__links {
  display: flex;
  justify-content: space-between;
  gap: 18px;
}

@media screen and (max-width: 767px) {
  .footer__links {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
}
