.cover {
  background-image: url('../../images/cover-trains.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 1184px;
  max-height: 740px;
  aspect-ratio: 1.6;
  margin: 90px auto 0;
}

@media screen and (max-width: 767px) {
  .cover {
    margin-top: 80px;
  }
}

@media screen and (max-width: 424px) {
  .cover {
    margin-top: 65px;
  }
}
