.lead__figure {
  max-width: 984px;
  margin: 65px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 1279px) {
  .lead__figure {
    margin: 55px 50px 0;
  }
}

@media screen and (max-width: 1023px) {
  .lead__figure {
    max-width: 928px;
    margin: 55px 0 0;
  }
}
