.place__website {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 12px;
}

@media screen and (max-width: 767px) {
  .place__website {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 424px) {
  .place__website {
    margin-left: 15px;
    margin-right: 15px;
  }
}
